<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AdminOutServlet</servlet-name>
    <servlet-class>com.hyt.servlet.AdminOutServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>com.hyt.servlet.AdminServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>NewsTypeSelectServlet</servlet-name>
    <servlet-class>com.hyt.servlet.NewsTypeSelectServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>NewsTypeEditServlet</servlet-name>
    <servlet-class>com.hyt.servlet.NewsTypeEditServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>NewsTypeEditBeforeServlet</servlet-name>
    <servlet-class>com.hyt.servlet.NewsTypeEditBeforeServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>NewsTypeDelServlet</servlet-name>
    <servlet-class>com.hyt.servlet.NewsTypeDelServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>NewsTypeAddServlet</servlet-name>
    <servlet-class>com.hyt.servlet.NewsTypeAddServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>NewsSelectServlet</servlet-name>
    <servlet-class>com.hyt.servlet.NewsSelectServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.hyt.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.hyt.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>NewsQueryServlet</servlet-name>
    <servlet-class>com.hyt.servlet.NewsQueryServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>S2</servlet-name>
    <servlet-class>com.hyt.servlet.S2</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>S3</servlet-name>
    <servlet-class>com.hyt.servlet.S3</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>xxx</servlet-name>
    <servlet-class>com.hyt.servlet.xxx</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>HYTkaptcha</servlet-name>
    <servlet-class>com.hyt.servlet.HYTkaptcha</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>com.hyt.servlet.HelloServlet</servlet-class>
  </servlet>
















  <servlet-mapping>
    <servlet-name>AdminOutServlet</servlet-name>
    <url-pattern>/servlet/AdminOutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/servlet/AdminServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NewsTypeSelectServlet</servlet-name>
    <url-pattern>/servlet/NewsTypeSelectServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NewsTypeEditServlet</servlet-name>
    <url-pattern>/servlet/NewsTypeEditServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NewsTypeEditBeforeServlet</servlet-name>
    <url-pattern>/servlet/NewsTypeEditBeforeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NewsTypeDelServlet</servlet-name>
    <url-pattern>/servlet/NewsTypeDelServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NewsTypeAddServlet</servlet-name>
    <url-pattern>/servlet/NewsTypeAddServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NewsSelectServlet</servlet-name>
    <url-pattern>/servlet/NewsSelectServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/servlet/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/servlet/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NewsQueryServlet</servlet-name>
    <url-pattern>/servlet/NewsQueryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>S2</servlet-name>
    <url-pattern>/servlet/S2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>S3</servlet-name>
    <url-pattern>/servlet/S3</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>xxx</servlet-name>
    <url-pattern>/servlet/xxx</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HYTkaptcha</servlet-name>
    <url-pattern>/servlet/HYTkaptcha</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/servlet/HelloServlet</url-pattern>
  </servlet-mapping>

</web-app>